---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import EditorialSection from '../components/EditorialSection.astro';
import LookbookGrid from '../components/LookbookGrid.astro';
import Academy from '../components/Academy.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="StyledbyLayo | Haute Couture & SBLFA Academy Lagos">
  <main class="relative bg-[#070605]">
    <Hero />
    <EditorialSection />
    <LookbookGrid />
    <Academy />
    <Footer />
  </main>
</Layout>
